body{
    margin: 0;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
background-size: 100%;
font-size: 1.125rem;
font-family: 'Bai Jamjuree', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
    color: hsl(210, 10%, 33%);
}

p{
    color: hsl(201, 11%, 66%);
}
a{
    color: hsl(210, 10%, 33%);
    text-decoration: none;
}
button{
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    color: white;
    border: none;
}
button:hover{
    cursor: pointer;
}
a:hover{
    color:hsl(171, 66%, 44%);
}
.btn-ios{
    background-color: hsl(171, 66%, 44%);
}
.btn-mac{
    background-color: hsl(233, 100%, 69%);
}
.btn-ios:hover{
    background-color: hsl(171, 51%, 42%);
}
.btn-mac:hover{
    background-color: hsl(233, 88%, 76%);
}
.div1{
    width: 35rem;
    margin: 8rem auto 0;
}
.logo{
    width: 10rem;
    margin: auto;
}

.div2{
    width: 18rem;
    margin: 8rem 12rem 5rem auto;
}
.img-computer{
    position: absolute;
    left: -2rem;
    top: 55rem;
}
.img-device{
    width: 70%;
    margin: 5rem auto 0;
}

.div3{
    width: 35rem;
    margin: 0 auto ;
}
.div4{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0 6rem;
}

.div5{
    width: 15rem;
}
.logo-div{
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.div6{
    width: 35rem;
    margin: 1rem auto 8rem;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(196, 18%, 88%);

    padding:2rem 0; 
}

.div7{
    display: flex;
    width: 30rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div7 > a{
    padding:.6rem .7rem 0;
}
.footer-logo{
    width: 3rem;
    height: 3rem;
    margin: auto 0;
}

.div8{
    display: flex;
    width: 5rem;
    justify-content: space-between;
    margin: auto 0 ;
}

.div8 > img{
    width: 1rem;
    height: 1rem;
}

@media screen and (max-width: 78.125rem) and (min-width: 50rem) {
    .img-computer{
        position: static;
        width: 80%;
        margin:5rem  auto;
    }
    .div2{
        width: 25rem;
        margin:  auto;
    }
    .logo-div{
        display: flex;
        flex-wrap: wrap;
        row-gap: 4rem;
        width: 80%;
        justify-content: space-evenly;
        margin: 5rem auto;
    }
    .div7{
        width: 40%;
    }
}

@media screen and (max-width: 50rem) and (min-width: 36.875rem) {
    .img-computer{
        position: static;
        width: 80%;
        margin:5rem  auto;
    }
    .div2{
        width: 25rem;
        margin:  auto;
    }
    .logo-div{
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        row-gap: 4rem;
        width: 10.5rem;
        justify-content: space-evenly;
        margin: auto auto 4rem auto ;
    }
    .div7{
        width: 40%;
    }
    .div4{
        flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:5rem auto;
    row-gap: 3rem;
    }
}

@media screen and (max-width: 36.875rem) {
    main{
        flex-direction: column;
    }
    .img-computer{
        position: static;
        width: 80%;
        margin:5rem  auto;
    }
    .div1{
        width: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: .5rem;
    }
    .div2{
        width: 25rem;
        margin:  auto;
    }
    .div3{
        width: 25rem;
        margin:  auto;
    }
    .logo-div{
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        row-gap: 4rem;
        width: 10.5rem;
        justify-content: space-evenly;
        margin: auto auto 4rem auto ;
    }
    .div7{
        width: 40%;
    }
    .div4{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:5rem auto;
    row-gap: 3rem;
    }
    

    footer{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
        min-height: 25rem;
    }
    .div7{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        margin:0 auto;
    }
    
    .div7 > a{
        padding:0;
    }
    .footer-logo{
        width: 3rem;
        height: 3rem;
        margin: auto ;
    }
    
    .div8{
        width: 8rem;
        margin: auto ;
    }
    
    .div8 > img{
        width: 1rem;
        height: 1rem;
    }
    .div6{
        width: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: .5rem;
    }
}